/* Button */
/* Aside Button */
.aside-btn {
    background-color: transparent;
    color: var(--secondary);
    font-size: 16px;
    padding: 8px 10px;
    border: none;
    border-left: 5px solid transparent;
    width: 92%;
    font-weight: var(--fw-md);
    border-radius: 5px;
    letter-spacing: 0.5px;
    display: grid;
    grid-template-columns: 85% 15%;
    justify-content: space-between;
    align-items: center;
    transition: var(--transition);
}

/* List / Form / Modal Button */
.list-btn,
.form-btn {
    background-color: var(--secondary);
    color: var(--text-primary);
    font-weight: var(--fw-md);
    border: 2px solid var(--main);
    border-radius: 5px;
    font-size: 14px;
    padding: 4px 25px;
}

.reset-btn {
    background-color: var(--secondary);
    color: var(--text-primary);
    font-weight: var(--fw-md);
    border: 2px solid var(--border);
    border-radius: 5px;
    font-size: 14px;
    padding: 4px 25px;
}

.list-btn-sm,
.form-btn-sm {
    background-color: var(--secondary);
    color: var(--text-primary);
    font-weight: var(--fw-md);
    border: 2px solid var(--main);
    border-radius: 2px;
    font-size: 11px;
    padding: 2px 10px;
}

/* Back Button */
.back-btn {
    background: transparent;
    color: var(--main);
    font-weight: var(--fw-md);
    border: none;
    border-radius: none;
    font-size: 14px;
    padding: 4px;
    transition: var(--transition);
}

/* Pagination */
.pagination-btn {
    border: 1px solid var(--main);
    background-color: var(--secondary);
    color: var(--main);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.pagination-btn:hover {
    background-color: var(--main) !important;
    color: var(--secondary) !important;
}

.pagination-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Box Shadow / Transition */
.list-btn,
.list-btn-sm,
.form-btn-sm,
.form-btn,
.reset-btn {
    transition: var(--transition);
    box-shadow: var(--box-shadow);
}

/* Button Hover */
.aside-btn-active,
.aside-btn:hover {
    background: linear-gradient(135deg, #7B2FF7 -47.79%, rgba(120, 133, 255, 0) 100%);
    color: var(--secondary);
    border-left: 5px solid #F107A3;
    box-shadow: 0px 1px 3px 0px rgba(6, 7, 8, 0.05),
        0px 1px 2px -1px rgba(6, 7, 8, 0.05),
        0px 2px 12px 0px rgba(26, 29, 33, 0.4) inset;
}

.list-btn:hover,
.list-btn-sm:hover,
.form-btn-sm:hover,
.form-btn:hover {
    background-color: var(--main);
    color: var(--secondary);
}

.reset-btn:hover {
    background-color: var(--primary);
    color: var(--secondary);
}

.back-btn:hover {
    color: var(--text-secondary);
}