.list-table {
    background: var(--secondary);
    box-shadow: var(--box-shadow);
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 10px;
}

/* Table Wrapper */
.table>:not(caption)>*>* {
    background-color: transparent !important;
}

.table tbody tr:nth-child(odd),
.table tbody tr:nth-child(even) {
    background: var(--secondary) !important;
}

.table {
    border-radius: 0px !important;
}

.table thead {
    background-color: var(--thead-bg);
    position: sticky !important;
    top: 0px !important;
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

.table thead th {
    color: var(--text-secondary);
    font-weight: var(--fw-md);
    text-transform: uppercase;
    font-size: 12px;
    padding-block: 10px !important;
    cursor: pointer;
    text-align: left !important;
}

.table tbody a {
    color: var(--blue);
    font-weight: var(--fw-sm);
    font-size: 12px;
    transition: all 0.3s ease;
}

.table tbody a:hover {
    color: var(--main);
}

.table tbody td,
.table tfoot td {
    padding-block: 10px !important;
}

.table tbody h5,
.table tbody h6,
.table tbody td,
.table tfoot td,
.table tbody td span,
.table tfoot td span {
    color: var(--text-primary);
    font-weight: var(--fw-sm);
    font-size: 14px;
    text-align: left !important;
}

.table tbody td i {
    color: var(--text-primary);
    cursor: pointer;
    font-size: 14px !important;
}

.table select,
.table input {
    padding: 5px;
    font-size: 12px;
}

/* Pagination Div */
.paginate-div {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.paginate-text {
    color: var(--text-primary);
    font-size: 12px;
    font-weight: 500;
}

/* Table Search */
.search-input {
    width: 35%;
    display: grid;
    grid-template-columns: 15% 85%;
    align-items: center;
    border: 1px solid var(--input-border);
    border-radius: 5px;
}

.search-input input {
    background-color: var(--input-bg);
    color: var(--primary);
    font-weight: var(--fw-md);
    font-size: 14px;
    padding: 5px 10px !important;
    border-left: 1px solid var(--input-border) !important;
    border-radius: 0px 5px 5px 0px !important;
}

.search-input input:focus {
    outline: none;
    box-shadow: none;
    border-left: 1px solid var(--main) !important;
}

.search-input i {
    font-size: 14px !important;
    text-align: center !important;
}

@media screen and (max-width: 767px) {
    .search-input {
        width: 70%;
    }
}