:root {
    --main: #F4154B;
    --sub: #0A1B39;
    --bg: #F7F7FC;
    --primary: #000;
    --secondary: #fff;
    --text-primary: #1F1F1F;
    --text-secondary: #52525B;
    --text-tertiary: #9CA3AF;
    --text-dark: #1E2254;
    --border: #EAECF0;
    --input-border: #D9D9D9;
    --input-bg: #F4F5F9;
    --thead-bg: #f5f5f5;
    --green: #14AE5C;
    --red: #ED1C24;
    --blue: #1A56DB;
    --purple: #7434A8;
    --box-shadow: 0 0 .875rem 0 rgba(33, 37, 41, .05);
    --transition: 0.3s ease-in-out;

    --main-font: "Satoshi", sans-serif;
    --fw-sm: 400;
    --fw-md: 500;
    --fw-lg: 600;
    --fw-xl: 700;
    --fw-xxl: 800;

}