aside ul::-webkit-scrollbar {
    display: none;
}

aside {
    background: var(--sub);
}

aside .main-ul {
    margin-top: 30px;
}

aside .collapse {
    transition: height 0.5s ease;
}

.sidebar .btn-name {
    width: 100%;
    display: grid;
    grid-template-columns: 12% 85%;
    align-items: center;
    justify-content: space-between;
    font-weight: var(--fw-sm);
    text-align: left;
}

.sidebar ul li a {
    color: var(--secondary);
    font-weight: var(--fw-sm);
    transition: var(--transition);
    margin-bottom: 10px;
}

.aside-link-active,
.sidebar .collapse li a:hover {
    color: var(--main);
}

.offcanvas {
    background-color: var(--sub) !important;
}

.offcanvas-header .user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.offcanvas-header .user img {
    z-index: 10;
    border-radius: 50%;
    object-fit: cover;
}

.offcanvas-header .user h6 {
    margin-left: -10px !important;
    z-index: 5;
    background-color: var(--primary);
    color: var(--secondary);
    text-transform: capitalize;
}

@media screen and (min-width:1140px) and (max-width: 1250px) {

    aside .btn-name {
        font-size: 14px !important;
    }

    aside .btn-name i {
        font-size: 16px !important;
    }

    aside .nav img {
        height: 35px !important;
    }
}

@media screen and (min-width: 1140px) {

    /* Aside */
    aside {
        height: 100vh;
        position: sticky;
        top: 0px;
        left: 0px;
        z-index: 999 !important;
        border-right: 1px solid #E6E4F0;
    }

    aside .main-ul {
        height: 84vh;
        overflow: hidden scroll;
    }

    .sidebar .btn-name {
        font-size: 16px;
    }

    aside .btn-name i {
        font-size: 18px !important;
    }

    .sidebar {
        padding: 10px 0px 0px 0px;
        border-radius: 10px;
    }

    .sidebar ul li a {
        font-size: 15px;
    }


    .offcanvas-header .user img {
        height: 40px;
        width: 40px;
    }

    .offcanvas-header .user h6 {
        font-size: 14px;
    }

}

@media screen and (max-width: 1140px) {

    aside {
        display: none;
    }

    .sidebar ul li a {
        font-size: 14px;
    }

    .sidebar .btn-name {
        font-size: 14px;
    }

    aside .btn-name i {
        font-size: 16px !important;
    }

    /* #navOffcanvas {
        width: 95%;
    } */

    .offcanvas-header .user {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .offcanvas-header .user img {
        height: 35px;
        width: 35px;
    }

    .offcanvas-header .user h6 {
        font-size: 10px;
        padding: 5px 10px 5px 15px !important;
    }


}