<div class="body-head mb-3">
    <h4 class="mb-0">Dashboard</h4>
</div>

<div class="row">
    <div class="col-md-3 mb-3">
        <div class="book-card">
            <h6 class="mb-3 text-start">Total Projects</h6>
            <h5 class="mb-0 text-end">₹ 1000</h5>
        </div>
    </div>
    <div class="col-md-3 mb-3">
        <div class="book-card">
            <h6 class="mb-3 text-start">Total Tasks</h6>
            <h5 class="mb-0 text-end">₹ 1000</h5>
        </div>
    </div>
    <div class="col-md-3 mb-3">
        <div class="book-card">
            <h6 class="mb-3 text-start">Paid Amount</h6>
            <h5 class="mb-0 text-end">₹ 1000</h5>
        </div>
    </div>
    <div class="col-md-3 mb-3">
        <div class="book-card">
            <h6 class="mb-3 text-start">Unpaid Amount</h6>
            <h5 class="mb-0 text-end">₹ 1000</h5>
        </div>
    </div>
</div>